<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>scav</display-name>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>blue-first</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFacesFileUploadFilter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.firstonesoft.mu.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/view/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PrimeFacesFileUploadFilter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.firstonesoft.mu.filter.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>view/mu_login.xhtml</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>400</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/view/error.xhtml</location>
	</error-page>
	
</web-app>
